.search-input {
  width: 250px;
  padding: 8px;
  font-size: 16px;
}

.suggestions-list {
  list-style: none;
  padding: 8ox;
  margin: 0;
  top: 100%;
  left: 0;
  width: 250px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions-list li:hover {
  width: 100%;
  background-color: #1092a169;
}
